
{% extends "::base.html.twig" %}
{% block title%}
A propos - {{ parent() }} 
{% endblock %} 

{% block body %}{% endblock %}
{% block body1 %} 

        <br>
     <img src="{{ asset('images/h1.png') }}" width="960" height="48"></center>
        </div>
        <div id="subPages">
<div id="botCont">
            <div class="botBox" style="margin-top: 15px;">
                <h2>How Evergreen Business System Came To Be.</h2>
                    <p>Mike Filsaime and Hector Yague developed this project of over 7 months in 2011.
                    </p> 
                    <p>Mike Filsaime, a software developer himself, was looking for the right solution to run an automated webinar. There were about 4 on the market and they all did basic features but non of them had what he wanted. So he decided to create his own version.
                    </p> 
                    <p>Mike found the Version 1.0 (Basic Version) of the Automated Webinar Generator (no longer available) and felt it was the best way to use as a “base” since he could get access to the source code and customize it for his own use. 4 Months later, Mike Filsaime was using this to make hundreds of thousands of dollars every month.
                    </p> 
                    <p>Mike Reach out to Hector to report a bug he found, and told Hector the success he had with the software with major modifications he made that made it the most intelligent software the likes that have never been seen before. Hector asked Mike to show him what would be needed to make an ALL NEW Version 2.0 with all of the new features that would make this the “Killer App.” Mike and Hector started working on a NEW Re-Write and 7 months later the world of marketing would change forever. You now are seeing the most influential software to hit our industry since the Butterfly Marketing Software of 2006. 
                    </p> 
                    <p>This is not the version 1.0. In fact it is nothing like it. Look at all of the features on our home page to see the advanced features not found anywhere.
                    </p>
                    <p>Mike Filsaime also noticed Hector Yague had a a great Word Press Plugin to do Product Launch Sequencing. My also spoke with Hector about adding "Gate Keeper Technology" to force option pages and lock down content pages when sharing but also not asking the visitor to re-optin to every squeeze page in the funnel. They also started to work on an Evergreen Launch Funnel as this project was being designed. This allowed Mike and Hector to create the perfect Evergreen Business System. An Evergreen Product Launch with a follow up to non buyers to attend an automated webinar. Mike and Hector also added training to make this Evergreen Business System one of the most completed investments you can make. Not only do you get the strategies and tactics to use, but you get the software to automate the entire process. Get started with us today at our introductory low price and bonsues.
                    </p>
            </div>
    </div>
    </div>
    </div>
  <br>

    

{% endblock %}

{% block body2 %}  
<p>
	<img src="{{ asset('images/designed-to-work-with2.jpg') }}" width="960" height="211">
</p>

{% endblock %}