{% extends "::base.html.twig" %}

{% block title %}
    FAQ - {{ parent() }} 
{% endblock %}

{% block body1 %}

<img src="{{ asset('images/h1.png') }}" width="960" height="48"></center>
        </div>
<div id="subPages">
<div id="botCont">
            <div class="botBox">
                <h2>FAQ</h2>
    
<p><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: What does the Automated Webinar Generator do?<br>
</span></p><div id="a1" style="display: none; "><span style="font-size:14px; color:#000;">
A: Our software automates the entire process of creating a powerful automated webinar system that you can host on our servers, or you can install on your own servers. For a more detailed look at all the features please see the extensive set of features show under the video on this page: http://www.evergreenbusinesssystem.com
</span></div>
<p></p>
<p><a href="javascript:void(0);" onclick="openClose('a2');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Does this software generate traffic? </span></a><br>
<font face="Trebuchet MS" class="fsx05"></font></p><div id="a2" style="display: none; "><font face="Trebuchet MS" class="fsx05"><span style="font-size:14px; color:#000;">
A: No, this software is not about driving traffic, but rather about creating an incredible webinar experience for your attendees that appears to be a live event, thereby eliminating the need for the host to be at the webinar at all. You record your perfect webinar once, then it is delivered as if it is a live event over and over again. 
</span></font></div><font face="Trebuchet MS" class="fsx05">
<p></p>
<p><a href="javascript:void(0);" onclick="openClose('a3');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Is there a limit to how many webinars I can run? </span></a><br>
</p><div id="a3" style="display: none; "><span style="font-size:14px; color:#000;">
A: No, you may run as many webinars as you like. </span></div>
<p></p>  
  
<p><a href="javascript:void(0);" onclick="openClose('a4');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q:  Are there any hosting charges after purchase of the product?  Will hosting costs remain free for any number of webinars, forever? </span></a><br>
</p><div id="a4" style="display: none; "><span style="font-size:14px; color:#000;">
A: You may choose to host your webinar on our servers or on yours. If you choose to run your webinar on one of our hosting domains, then there is no additional charge and you may run as many webinars as you would like.  If you choose to host your webinar with us, you may choose from one of the domains we have setup for hosting our customers webinars. Here is the current list you can choose from:  eWebinars.com, StreamingWebinarService.net, WebinarMeetingRoom.com, DigitalWebinars.com</span></div>
<p></p>
<p><a href="javascript:void(0);" onclick="openClose('a5');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Do you support my specific web cart for checkout? </span></a><br>
</p><div id="a5" style="display: none; "><span style="font-size:14px; color:#000;">
A: We support all shopping carts in the sense that when you display the ‘buy’ button you can link that button to any external cart that you have an account with. </span></div>
<p></p>      
      
<p><a href="javascript:void(0);" onclick="openClose('a6');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Does it integrate with Paypal? </span></a><br>
</p><div id="a6" style="display: none; "><span style="font-size:14px; color:#000;">
A: You may link the buy button to any cart you want, including paypal. You may also use any Autoresponder with the service.</span></div>
<p></p>


<p><a href="javascript:void(0);" onclick="openClose('a20');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: If I can setup a members area, can customers easily manage their accounts... more specifically easily cancel their subscription?</span></a><br>
</p><div id="a20" style="display: none; "><span style="font-size:14px; color:#000;">
A: You can set up a membership area using 3rd party Wordpress plugins like WishList or Digital Access Plugins.  Regarding the customers managing their accounts, that depends on how you set up your WishList or DAP settings.</span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a21');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: On my own websites can I host webinars for my clients?</span></a><br>
</p><div id="a21" style="display: none; "><span style="font-size:14px; color:#000;">
A: No I'm sorry, we dont offer resell rights, meaning that the webinars are only and exclusively to be used for your webinars. </span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a22');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Can I install the program on client owned websites?</span></a><br>
</p><div id="a22" style="display: none; "><span style="font-size:14px; color:#000;">
A: No, ou cannot host or generate webinars for other people, regardless of whether it's on your site or theirs.</span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a23');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: If a customer has a question about a service or product, how do they ask questions since I would not be in attendance?</span></a><br>
</p><div id="a23" style="display: none; "><span style="font-size:14px; color:#000;">
A: You have two options:<br><br>
1) If you want to be online at the time of your webinar, you can activate the Live Chat and indeed chat with your customers in real time while the webinar presentation is taking place.
<br><br>
2) If you dont want to be online, simply activate the email-forward feature, and all questions typed in by your customers will be redirected to your email address, so you can answer them back at your earliest convenience.</span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a24');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q:  Is this designed just for use only in wordpress or can it be incorporated into other website designs. I use ShopFactory for my website?</span></a><br>
</p><div id="a24" style="display: none; "><span style="font-size:14px; color:#000;">
A: It's in fact NOT a wordpress plugin. It's a stand alone software and yes, you can incorporate your own design if you dont want to use the built-in templates.</span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a25');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: If possible to use in my site, do you have any instructions or idea who I would use to help me incorporate it into my site?</span></a><br>
</p><div id="a25" style="display: none; "><span style="font-size:14px; color:#000;">
A: Correct, you can integrate it with your own site. In the members area you will find tutorial videos walking you through the entire process.</span></div>
<p></p>

<p><a href="javascript:void(0);" onclick="openClose('a28');"><span style="font-size:15px; font-weight:bold; color:#000; cursor:pointer;">
Q: Also, is there any reason why it would not work just to deliver content? I have been considering offering Webinars as a part of my Aerial Photography Training program. The primary purpose would be to deliver the content of the webinar, not to actually sell the program.</span></a><br>
</p><div id="a28" style="display: none; "><span style="font-size:14px; color:#000;">
A. It works perfectly to deliver content. Just do not put the buy button at the end! </span></div>
<p></p>
            </font></div><font face="Trebuchet MS" class="fsx05"></font>
       </div>
</div> </div>
        


<br>

{% endblock %}
{% block body2 %}  
<p>
	<img src="{{ asset('images/designed-to-work-with2.jpg') }}" width="960" height="211">
</p>

{% endblock %}