
{% extends "::base.html.twig" %}
{% block title%}
Support - {{ parent() }} 
{% endblock %} 

{% block body %}{% endblock %}
{% block body1 %} 
<img src="{{ asset('images/h1.png') }}" width="960" height="48">
</center>
</div><div id="subPages">
<div id="botCont">
 <div class="botBox" id="formBox">
                <h2>Need Support? We're Here to Help.</h2>
                <p>Whether you have pre-sales questions, technical support issues, billing questions or need a refund, or if you want to report a bug or suggest a feature just let us know and we will get right back to you.
                </p>
                <p>Our live support team works normal business hours (Monday - Firday, 10am to 6pm Eastern Time) and we also have our help desk team working all hours of the day 7 days a week. Just use our easy ticket form and we will get back to you usually in less than 1 business day.
                </p>  
              <p style="width:100%; border-top:1px dotted #cccccc;"></p> 
                <p class="bold" style="font-size:18px; color:#069">Choose your support department below:</p>
              <ul style="padding-left:50px; ">
                <li><b>Pre-sale and general questions:</b> contact our Support Staff at support@thecustomerhelpdesk.com</li>
                <li><b>Questions related to your account (billing, password, refunds, etc):</b> contact Nancy at billing@thecustomerhelpdesk.com</li>
                <li><b>Customer Technical Support:</b> contact our programmers <a href="{{ path('webinaire_accueil') }}" style="font-weight:bold; text-decoration:underline;">here</a></li>
                <li><b>Affiliates and JVs:</b> contact Joe at joe@mikefilsaime.com</li>
              </ul>
                <p>&nbsp;</p>
              <p>&nbsp;</p>
                <p style="text-align: right; font-size: 12px;">For "Non Technical" quick questions you can call us at 1-631-350-7095<br>
        (Monday - Friday, 10am to 6pm Eastern Time)</p>
            </div>
</div> </div>
        </div>


<br>
{% endblock %} 
{% block body2 %}  
<p>
	<img src="{{ asset('images/designed-to-work-with2.jpg') }}" width="960" height="211">
</p>

{% endblock %}