{% include "WbnWebinaireBundle:Membre:layout.html.twig" %}
{% block body %}
<div class="site">
		<div id="wrap">
		<form method="post" {{ form_enctype(form) }}>
	
	{{ form_widget(form) }}
	
	<input type="submit" />
</form>
</div></div>
{% endblock %}